*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 100dvw;
    height: 100dvh;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

.priceInformation {
    display: flex;
}

.salePrice {
    margin: 1rem;
}

.fullPrice {
    margin: 1rem;
}